# Coronavirus tweets NLP - Text Classification

(data from kaggle)
predict sentiment from text(OriginalTweet) // positive or negative

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Corona_NLP_train.csv")

In [3]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [7]:
df['OriginalTweet'][1]  #==> positive

'advice Talk to your neighbours family to exchange phone numbers create contact list with phone numbers of neighbours schools employer chemist GP set up online shopping accounts if poss adequate supplies of regular meds but not over order'

In [8]:
df['Sentiment'].unique()

array(['Neutral', 'Positive', 'Extremely Negative', 'Negative',
       'Extremely Positive'], dtype=object)

ทำ column ['sentiment'] ให้เหลือ positive or negative เพื่อความง่ายในการ predict

In [9]:
df.drop(df[df['Sentiment']=='Neutral'].index,axis=0,inplace=True)

In [10]:
def reSentiment(Sentiment):
    if 'Positive' in Sentiment:
        return 'Positive'
    else : return 'Negative'

In [11]:
df['Sentiment_new'] = df['Sentiment'].apply(reSentiment)

In [12]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,Sentiment_new
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative,Negative
5,3804,48756,"ÜT: 36.319708,-82.363649",16-03-2020,As news of the regions first confirmed COVID-...,Positive,Positive

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [15]:
pipelineZa = Pipeline([
            ('BagOfWord',CountVectorizer()),
            ('classifier',MultinomialNB())])

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
X = df['OriginalTweet']
y = df['Sentiment_new']
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [21]:
pipelineZa.fit(X_train,y_train)
y_pred = pipelineZa.predict(X_test)

In [19]:
from sklearn.metrics import classification_report,confusion_matrix

In [22]:
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))

              precision    recall  f1-score   support

    Negative       0.77      0.75      0.76      4591
    Positive       0.80      0.81      0.81      5443

    accuracy                           0.79     10034
   macro avg       0.79      0.78      0.78     10034
weighted avg       0.79      0.79      0.79     10034

[[3459 1132]
 [1008 4435]]